.terminal-input{
    display: flex;
    flex-direction: row;
}

.terminal-prompt
{
    color:lawngreen;
    font-weight:bold;
}

.terminal-inp-cont{
    width:100%;
    position: relative;
}

.terminal-main-input{
    background-color: black; 
    color: white;
    border:none;
   width:100%;
   font: 10pt Arial !important;
}

.terminal-main-input-textarea{
padding: 5px;
border: none;
overflow: auto;
outline: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
resize: none;
}
.terminal-main-input:focus{
    outline: none;
}

.intellisense-results{
    position: absolute;
    z-index: 999;
    display: block;
    background-color: rgb(37, 37, 38);
    max-height: 150px;
    overflow-y: auto;
}

.is-list-none{
    list-style-type: none;
    background-color: rgb(37, 37, 38);
    /* max-height: 150px;
    overflow-y: auto; */
    width: 300px;
}

.is-list-none li{
color: rgb(133,133,133);
cursor: pointer;
font-size: 12px;
padding:1px 5px;
list-style-position:inside;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis; 
}

.is-list-none li:hover{
    background-color: rgb(50, 50, 50);
}

.is-list-none li.selected{
    background-color:rgb(6,47,74);
}

.is-group-name{
    font-weight: bold;
    font-size: 12px;
    color: ghostwhite;
    padding:0px 5px;
}

.intsense-sub-title{
    display: block;
    font-size: 9px;
}

.dummy-div{
    display: inline;
}
