.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}


.userInfo
{
    margin:0px 5px;
    color:white;
    font-size: 12px;
}

.userInfo span{
    display:block;
}


