.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.root-div{
  height: 100%;
}

::-webkit-scrollbar {
  height: 7px !important;
  width: 7px !important;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ececec; 
 

}

::-webkit-scrollbar-thumb {
  background: #c6c6c6;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}
